.main-section {
  width: 598px;
  padding: 16px 8px;
  border-radius: 16px;
  background-color: #ecf1fd;
}

.boards-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-card-btn {
  color: #88819f;
}
