.main-section {
  width: auto;
  min-height: 500px;
  padding: 16px 8px;
  border-radius: 16px;
  background-color: #ecf1fd;
}

.boards-wrapper {
  display: flex;
  flex-direction: column;
}

.add-card-btn {
  color: #88819f;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .main-section {
    width: 598px;
  }
}
