* {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
}

html {
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f4f7fe;
  min-height: 100vh;
  min-width: 240px;
  padding: 16px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}
